/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #CBBEFF;
  --background-end-rgb: 255, 255, 255;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: #6649AE;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #89B0AE;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  /* border: 1px solid #ccc; */
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 10px;
  min-width: 50vh;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  /* background-color: #827191; */
  background-color: #273E47;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: grey;
}

.login-container {
  padding-left: 85%;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #273E47;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  /* margin-left: 90%; */
  /* padding-left: 90%; */
  min-width: 10vh;
}