.App-header {
    max-width: 1000px;
    margin: auto;
    padding: 70px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .App {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

  .title-container h1 {
    color: white;
    margin: 0; 
    text-align: center; 
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

  
  header {
    text-align: center;
  }