.Package {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.view {
    display: inline-block;
    margin-left: 90%;
}

.package-divider {
    width: 100%;
    border: 0;
    height: 1px;
    background: #ccc;
    margin-top: 20px;
    margin-bottom: 0px;
  }